<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://tcsupport-913206223978.d.codeartifact.eu-central-1.amazonaws.com/nuget/TCSupport/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
